// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

// chosen-js
@import '~chosen-js/chosen.min.css';

@import '~jquery-ui/themes/base/sortable.css';

@import '~bootstrap4c-chosen/src/scss/build.scss';

button.btn-close {
    height: 38px;
    width: 39px;
    color : white;
    margin-left: 15px;
}

.w-46 {
    width: 46% !important;
}

#parameters-space {
    margin-top: 30px;
}

#fileCard {
    margin-bottom: 30px;
}

#dropzone {
    position: relative;
    border: 2px dashed;
    border-color: $blue;
    border-radius: 20px;
    color: $indigo;
    font: bold 24px/200px arial;
    height: 200px;
    margin: 30px auto;
    text-align: center;
    width: 100%;
}

#dropzone.hover {
    border: 2px dashed  $blue;
    background: $cyan;
    color: $indigo;
}

#dropzone.dropped {
    background: #c0f7ca;
    border: 2px solid #247032;
}

#dropzone div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    word-break: break-word !important;
}

#dropzone img {
    border-radius: 10px;
    vertical-align: middle;
    max-width: 95%;
    max-height: 95%;
}

#dropzone [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#campaignSelector_chosen, 
#advertiserSelector_chosen {
    width: 100% !important;
}

.link-type-selector {
    display: none;
}

#holder-input-s3links {
    display: none;
}

div.w-50> label {
    width: max-content !important;
    
    &:hover {
        cursor: grab;
    }

    &:active {
        cursor: grabbing;
    }
} 

.param--holder-drag {
    border: 1px dashed rgba(211, 211, 211, .7);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    
    &:hover {
        cursor: grab;
        background-color: rgba(200, 200, 200, .7);
    }

    &:active {
        cursor: grabbing;
        background-color: rgba(150, 150, 150, .7);
    }
}

#btn_new_lp {
    display: none;
}

.btn-holder-lp {
    margin: 15px;
}

.chosen-choices li.search-field {
    width: 100%;
}

#blackList_paginate {
    width          : 100%;
    margin         : 0 auto;
    text-align     : center;
    overflow       : hidden;
    display        : flex;
    justify-content: center;

    a.paginate_button {
        display        : block;
        text-decoration: none;
        color          : #000;
        padding        : 5px 10px;
        border         : 1px solid #ddd;
        float          : left;
        
        &:hover {
            background-color: #4caf50;
            color: #fff;
        }
    }
}

.custom-btn {
    width: 500px;
}

button#btn-generate-parameter {
    display: none;
}

.btn-encrypt-ddl {
    max-width: 115px;
}